<div style="max-width: 600px; margin: auto; padding: 1rem;">
    <md-card style="border-radius: .05rem; padding: 0.5rem;">
        <md-card-content>
            <div layout="column">
                <md-input-container>
                    <label>E-mail</label>
                    <input ng-model="email" name="email">
                </md-input-container>

                <md-input-container>
                    <label>Senha</label>
                    <input ng-model="password" name="password">
                </md-input-container>
                
                <md-button class="md-raised md-primary">Entrar</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>